<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <section class="flex-line-container">
    <div>
      <h3 class="team-details-header-text">{{teamName}}&nbsp;team details</h3>
    </div>
  </section>
  <section class="flex-p-container">
      <p>Learned subjects</p>
  </section>
  <section>
    <div>
      <mat-accordion>
        <div *ngFor="let subject of learnedSubjectsByTeam">
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>{{subject.subjectName}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list role="list" *ngFor="let employee of subject.employees">
              <mat-list-item role="listitem">{{employee}}</mat-list-item>
            </mat-list>

          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="flex-p-container">
    <p>Subjects to learn</p>
  </section>
  <section>
    <div>
      <mat-accordion>
        <div *ngFor="let subject of subjectsToLearnByTeam">
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>{{subject.subjectName}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list role="list" *ngFor="let employee of subject.employees">
              <mat-list-item role="listitem">{{employee}}</mat-list-item>
            </mat-list>

          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </section>

