<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section class="flex-line-container">
  <div>
    <h3 class="settings-header-text">Settings</h3>
  </div>
</section>
<section>
  <div>
    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>Your learning days limits</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="myLimitsForm">
          <mat-form-field>
            <mat-label>Your yearly limit</mat-label>
            <input matInput type="number" formControlName="myYearlyLimit">
            <mat-hint *ngIf="showMyLimitsEditBtns">Please enter value between 0 and 30</mat-hint>
            <mat-error *ngIf="myLimitsForm.invalid">{{getYearlyLimitErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Your monthly limit</mat-label>
            <input matInput type="number" formControlName="myMonthlyLimit">
            <mat-hint *ngIf="showMyLimitsEditBtns">Please enter value between 0 and 10</mat-hint>
            <mat-error *ngIf="myLimitsForm.invalid">{{getMonthlyLimitsErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Your in a row limit</mat-label>
            <input matInput type="number" formControlName="myRowLimit">
            <mat-hint *ngIf="showMyLimitsEditBtns">Please enter value between 0 and 5</mat-hint>
            <mat-error *ngIf="myLimitsForm.invalid">{{getInRowLimitsErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <button id="edit-my-limits" class="btn-diff" mat-raised-button *ngIf="userLimits.isBoss" (click)="enableMyLimitsForm()">
            Edit
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showMyLimitsEditBtns" type="submit" [disabled]="!myLimitsForm.valid" (click)="saveMyLimits()">
            Save
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showMyLimitsEditBtns" (click)="cancelMyLimitsEdit()">
            Cancel
          </button>
        </form>
        <br>
        <p class="success-message" *ngIf="successMessage">Limit was successfully changed</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
<br>
<section *ngIf="userLimits.isBoss">
  <div>
    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>Global limits</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="globalLimitsForm">
          <mat-form-field>
            <mat-label>Global yearly limit</mat-label>
            <input matInput type="number" formControlName="globalYearlyLimit">
            <mat-hint *ngIf="showGlobalLimitsEditBtns">Please enter value between 0 and 30</mat-hint>
            <mat-error *ngIf="globalLimitsForm.invalid">{{getYearlyLimitErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Global monthly limit</mat-label>
            <input matInput type="number" formControlName="globalMonthlyLimit">
            <mat-hint *ngIf="showGlobalLimitsEditBtns">Please enter value between 0 and 10</mat-hint>
            <mat-error *ngIf="globalLimitsForm.invalid">{{getMonthlyLimitsErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Global in a row limit</mat-label>
            <input matInput type="number" formControlName="globalRowLimit">
            <mat-hint *ngIf="showGlobalLimitsEditBtns">Please enter value between 0 and 5</mat-hint>
            <mat-error *ngIf="globalLimitsForm.invalid">{{getInRowLimitsErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <button id="edit-global-limits" class="btn-diff" mat-raised-button *ngIf="userLimits.isBoss" (click)="enableGlobalLimitsForm()">
            Edit
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showGlobalLimitsEditBtns" type="submit" [disabled]="!globalLimitsForm.valid" (click)="saveGlobalLimits()">
            Save
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showGlobalLimitsEditBtns" (click)="cancelGlobalLimitsEdit()">
            Cancel
          </button>

        </form>
        <br>
        <p class="success-message" *ngIf="successMessage">Limit was successfully changed</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
<section class="flex-start-line-container">
  <div>
    <h3>My employees' limits</h3>
  </div>
</section>
<section>
  <div>
    <mat-accordion>
      <div *ngFor="let employee of employeesLimitsFormArray.controls; index as i">
      <mat-expansion-panel (closed)="handleIfClosedWhileInEditMode(); patchEmployeeLimitsValue(i, employee)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{employee.value.employeeName}}</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="employee">
          <mat-form-field>
            <mat-label>Yearly limit</mat-label>
            <input matInput type="number" formControlName="employeeYearlyLimit">
            <mat-hint *ngIf="showEmployeeLimitsEditBtns">Please enter value between 0 and 30</mat-hint>
            <mat-error *ngIf="employeesLimitsFormArray.invalid">{{getEmployeeYearlyLimitErrorMessage(employee)}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Monthly limit</mat-label>
            <input matInput type="number" formControlName="employeeMonthlyLimit">
            <mat-hint *ngIf="showEmployeeLimitsEditBtns">Please enter value between 0 and 10</mat-hint>
            <mat-error *ngIf="employeesLimitsFormArray.invalid">{{getEmployeeMonthlyLimitErrorMessage(employee)}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>In a row limit</mat-label>
            <input matInput type="number" formControlName="employeeRowLimit">
            <mat-hint *ngIf="showEmployeeLimitsEditBtns">Please enter value between 0 and 5</mat-hint>
            <mat-error *ngIf="employeesLimitsFormArray.invalid">{{getEmployeeRowLimitErrorMessage(employee)}}</mat-error>
          </mat-form-field>
          <br>
          <button class="btn-diff" mat-raised-button *ngIf="!hideEmployeeLimitEditBtn" (click)="enableEmployeeLimitsForm()">
            Edit
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showEmployeeLimitsEditBtns" type="submit" [disabled]="!employee.valid" (click)="saveEmployeeLimits(i, employee)">
            Save
          </button>
          <button class="btn-diff" mat-raised-button *ngIf="showEmployeeLimitsEditBtns" (click)="cancelEmployeeLimitsEdit(); patchEmployeeLimitsValue(i, employee)">
            Cancel
          </button>
        </form>
      </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</section>

