<div class="container">
  <h1>Create Topic</h1>
  <form [formGroup]="topicForm">
    <div class="form-group">
      <mat-form-field class="parentName">
        <br />
        <mat-label>Parent Topic Name</mat-label>
        <mat-select class="form-control" formControlName="parentName" id="parentName" [(ngModel)]="selectedValue"
          name="parentName">
          <mat-option *ngFor="let parentTopic of parentTopic" [value]="parentTopic.value">
            {{parentTopic.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="name">
        <br />
        <mat-label>Name</mat-label>
        <input class="form-control" required minlength="4" formControlName="name" id="name" name="name" matInput
          placeholder="Search or create a new topic">
        <!--[(ngModel)]="model.name" #name="ngModel"-->
        <mat-error *ngIf="topicForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="description">
        <br />
        <mat-label>Description</mat-label>
        <textarea class="form-control" formControlName="description" id="description" name="description" matInput
          placeholder="Describe a topic"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <!--<mat-form-field class="date">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [value]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
      <!-- <button mat-button class="button cancel">Cancel</button> -->
      <button mat-raised-button type="submit" class="button submit" [disabled]="!topicForm.valid"
        (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>