<div style="height: calc(100vh - 6%);">
    <ngx-graph [nodes]="entities" [links]="links" [draggingEnabled]="false" fxFlexFill>
      <ng-template #nodeTemplate let-node>
        <svg:g class="node" [routerLink]="['/details', node.id]" style="cursor: pointer;">
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="node.data.color"
          />
          <svg:text dominant-baseline="middle" [attr.x]="10" [attr.y]="node.dimension.height / 2">
            {{node.label}}
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div> 