<div class="container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 style="margin-top: 20rem;">Welcome to the learning day logging system</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="user.username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="user.password">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="logIn()">Log in</button>
    </div>
</div>