<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section class="flex-line-container">
  <div class="view-date-container">
    <h3 class="calendar-header-text">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</section>
<section class="flex-line-container">
  <div class="btn-group-container">
    <button mat-raised-button
            color="primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
    >
      Previous
    </button>
    <button class="btn-diff" mat-raised-button
            mwlCalendarToday
            [(viewDate)]="viewDate"
    >
      Today
    </button>
    <button mat-raised-button
            color="primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
    >
      Next
    </button>
  </div>
</section>
<span class="calendar-wrapper">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="openDayView($event.event)"
    >
    </mwl-calendar-month-view>
  </div>
</span>
<div class="flex-button-container">
  <a (click)="openNewLearningForm()"><button class="new-L-D-btn" mat-raised-button> Add New Learning Day</button></a>
</div>
<mat-divider *ngIf="uniqueEmployees.length"></mat-divider>
<div class="flex-p-container" *ngIf="uniqueEmployees.length">
  <p>Employees:</p>
</div>
<div class="flex-checkbox-container" >
  <div *ngFor="let employee of uniqueEmployees">
    <mat-checkbox (click)="changeValue(employee.employeeId)">{{employee.employeeName}}</mat-checkbox>
  </div>
</div>

