<div cdkFocusRegionstart class="container" *ngIf="!loading">
    <h3>Create a new learning day</h3>
    <form [formGroup]="newTrainingForm" (ngSubmit)="onSubmit()">
        <div formGroupName="training">
            <mat-form-field>
                <mat-label>Pick a topic</mat-label>
                <mat-select formControlName="subject">
                    <mat-option *ngFor="let learningSubject of learningSubjects" [value]="learningSubject">{{learningSubject.name}}</mat-option>
                </mat-select>
                <!-- <input
                    type="text"
                    placeholder="Pick a topic"
                    matInput
                    formControlName="subject"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                    <mat-option *ngFor="let learningSubject of learningSubjects" [value]="learningSubject">
                      {{learningSubject.name}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
            <div style="margin-left: 1%;">
                OR 
                <button type="button" color="accent" style="margin-left: 1rem;" mat-stroked-button [routerLink]="['/topic']" (click)="onNewTopic()">Create a new topic</button>
            </div>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" [disabled]="!newTrainingForm.valid">Submit</button>
        </div>
    </form>
</div>