<div class="container">
    <h1>{{currentTraining.name}}</h1>
    <div fxLayout="row">
        <div fxFlex="50">
            <!-- <mat-list>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
              </mat-list>               -->
        </div>
        <div fxFlex="50">
            FAG
        </div>
    </div>
</div>